* {
  margin: 0;
  padding: 0;
}

header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #ce5230;
  padding: 30px 15px;
}

.title {
  color: white;
}

.menu {
  text-decoration: none;
  color: white;
  margin-left: 20px;
}

footer {
  color: white;
  background-color: #ce5230;
  font-family: cursive;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 30px 15px;
}

.footer-title {
  font-size: 25px;
  font-weight: lighter;
}

.footer-right {
  margin-right: 300px;
}

.footer-right a {
  font-weight: bold;
  text-decoration: none;
  color: white;
}